{:name "Barclays"
 :source "Barclays"
 :columns ["Transaction Date", "Description","Category","Amount"]
 :map-to {:Date "Transaction-Date", :Amount "Amount", :Description "Description"}
 :date-format "MM/DD/YYYY"
 :pre-parse-fn :split-by-newline}
